/*
*Responsive nav source
*http://medialoot.com/blog/how-to-create-a-responsive-navigation-menu-using-only-css/
*/
/*Strip the ul of padding and list styling*/
#menu{
    margin:0 auto;
    margin-top: 0;
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
}
#menu ul {
        margin-top: 0;
	list-style-type:none;
        z-index: 99;
        margin: 0 auto;
        text-align: center;
        margin-left: 25%;
        margin-right: 20%;
}

/*Create a horizontal list with spacing*/
li {
	display:inline-block;
	float: left;
	margin-right: 1px;
}
/*Style for menu links*/
li a {
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background: #2f3036;
	text-decoration: none;
}

/*Hover state for top level links*/
li:hover a {
	background: #357FD8;
}

/*Style for dropdown links*/
li:hover ul a {
	background: #f3f3f3;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
	background: #357FD8;
	color: #fff;
}
/*Hide dropdown links until they are needed*/
li ul {
	display: none;
}

/*Make dropdown links vertical*/
li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

.hidden{
    position: absolute;
    left: 12%;
}
/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
	display: block;
}


body{
 background-color: #EEEEEE;
}
#uploadBox{
	background-color: #c5dc72;
	text-align:center;
	margin: 0 auto;
	width: 50%;
	border-style: solid;
	border-width: 2px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
#clientBox{
    border-style: solid;
    border-width: 1px;
    width: 200px;
    float:right;
    position: fixed;
    left: 76%;
    width: 22%;
    top: 106px;
    background-color: #ffffff;
    overflow: auto;
    padding-left: 8px;
    text-align: center;
}
#gallery{
    width: 79%;
    height: 95%;
    display: inline-block;
    float:left;
    margin-left: 5px;
}
#gallery h2{
    text-align: left;
    margin-left: 20px;
}
article{
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#logOut{
    margin-top: 8px;
}
#imgRow{
    border: solid;
    margin-right: 10px;
    margin-bottom: 10px;
    border-width: 1px;
    background-color: #DDDDDD;
    text-align: center;
    width: 400px;
}
#imgRow img{
    margin-top: 2px;
}
.option{
    background-color: #2F3036;
    color: white;
    border: solid;
    border-width: 2px;
    border-color: white;
}
.option:hover{
    background-color: #357FD8;
    border-color: #2F3036;
}
.parts{
    text-align: center;
    margin: 0 auto
}